# Python
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/

# Environment variables
.env
.env.*

# VS Code
.vscode/

# Logs
*.log

# Terraform
.terraform/
*.tfstate
*.tfstate.*

# Secrets
*.pem
*.key
*.secret